<p>
	<strong> Title:</strong>
	<%= @articulo.title %>
</p>

<p>
	<strong> Text: </strong>
	<%= @articulo.text %>
</p>

<%= link_to 'back', articles_path %> |
<%= link_to 'update', edit_article_path(@articulo) %>